@font-face {
    font-family: 'Gotham Light';
    src: url('/fonts/gotham/Gotham-Light.otf');
}
@font-face {
    font-family: 'Gotham Black';
    src: url('/fonts/gotham/Gotham-Black.otf');
}
@font-face {
    font-family: 'Gotham Bold';
    src: url('/fonts/gotham/Gotham-Bold.otf');
}
@font-face {
    font-family: 'Koara Light';
    src: url('/fonts/koara/light.otf');
}
@font-face {
    font-family: 'Koara Bold';
    src: url('/fonts/koara/bold.otf');
}
