// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.v-popper__popper.v-popper--theme-tooltip-product{
    .v-popper__inner{
        background-color: white;
        color: black;
        font-family: 'Geologica';
        font-weight: bold;
        padding: 10px;
        font-size: 12px;
        border-radius: 5px;
    }
}
