@import "../global";

// Coreui
@import '~@coreui/coreui/scss/coreui';
@import '~@coreui/icons/css/free.min.css';
@import "@fancyapps/ui/dist/fancybox.css";


body.mce-content-body{
    padding: .5rem !important;
    background-color: white !important;
}

.img-thumbnail.img-thumbnail-orange{
    background-color: #c58d3b;
}

.image-promotion{
    cursor: zoom-in;
}

.list-group-item.deleted{
    text-decoration: line-through;
    color: #c53b3b;
}

