<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]


    # redirect indexed old route to new route
    Redirect /tentang-gda/peternakan-kami       /about
    Redirect /hubungi-kami                      /#kontak
    Redirect /varian-milk-life/bebas-laktosa    /varian-milklife/susu-bebas-laktosa-original
    Redirect /varian-milk-life/uht              /varian-milklife/susu-murni-penuh-gizi
</IfModule>
