@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav{
        @apply top-0 right-auto md:right-0 bottom-0 md:bottom-auto left-[-500px] md:left-0 z-10 fixed bg-transparent py-4 transition-all duration-300 ease-linear;
    }
    .nav.open-mobile{
        @apply right-0 left-0;
        z-index: 9999;
    }
    .nav.scroll{
        @apply top-[0] bg-milklife-blue-banner-lighter duration-[700ms];
    }
    .nav.open-badge{
        @apply bg-milklife-blue-banner-lighter bg-opacity-95 shadow;
    }
    .nav.open-badge .toggler-nav-close{
        @apply block;
    }
    .nav .nav-wrapper{
        @apply flex md:flex-row flex-col justify-between items-start md:items-center mx-auto divide-y-2 divide-y-reverse md:divide-y-0 2xl:max-w-[90rem] max-w-6xl xl:max-w-7xl font-gotham-black text-white tracking-wide;
    }

    .nav .item-wrapper{
        @apply flex flex-col justify-center items-center md:items-center font-lato lg:font-normal font-semibold md:text-lg text-xl text-center;
    }

    .nav .item-wrapper br{
        @apply hidden md:block;
    }

    .nav .item-wrapper.contact-link{
        @apply md:hidden block;
    }


    .index-page .toggler-nav-badge{
        @apply hidden md:block z-[9] fixed inset-x-0 transition-all duration-75 ease-linear cursor-pointer;
    }

    .toggler-nav-badge{
        @apply hidden;
    }

    .toggler-nav-close{
        @apply hidden absolute inset-x-0 bg-transparent;
    }

    .nav .logo-mobile{
        @apply md:hidden block mx-auto mb-4;
    }

    .btn{
        @apply inline-block px-2 py-1 rounded-sm text-white transition-all duration-300 ease-linear;
    }

    .btn-milklife-blue{
        @apply bg-milklife-blue active:ring-2 ring-offset-milklife-blue-darken text-white;
    }

    .btn.btn-doodle{
        @apply p-6 2xl:p-8 font-gotham-black font-semibold text-lg 2xl:text-2xl;
    }

    .btn.btn-pill{
        @apply bg-milklife-orange-darken px-2 py-1 rounded-full font-gotham-black font-semibold text-lg 2xl:text-2xl;
    }

    .btn.btn-doodle.btn-sm{
        @apply p-4 text-base;
    }

    .btn.btn-whatsapp{
        @apply inline-flex items-center space-x-4 bg-green-500 p-3 rounded-2xl font-gotham-bold text-xl lg:text-3xl;
    }


    .banner-section, .about-section, .variant-section, .article-section, .explore-section, .contact-section{
        @apply bg-cover bg-no-repeat bg-left-top w-full h-full;
    }

    .about-section, .variant-section, .article-section, .explore-section, .contact-section, .variant-section{
        @apply relative px-2 md:px-0 pt-4 overflow-hidden;
    }

    .about-section.page{
        @apply h-auto overflow-auto;
    }

    .banner-content{
        @apply flex md:flex-row flex-col flex-1 justify-center md:justify-start items-center mx-auto lg:pb-8 2xl:max-w-[1500px] max-w-4xl md:max-w-5xl xl:max-w-6xl h-full;
    }

    /* Add Style for pagination banner */
    /* Updated at 2024-11-18 */
    /* Update by Julian */
    .banner-content .splide__pagination{
        @apply bottom-auto md:bottom-[.5em]
    }

    .banner-content .splide__pagination__page{
        @apply bg-white w-4 h-4;
    }

    .banner-content .splide__pagination__page.is-active{
        @apply bg-milklife-orange-darken w-4 h-4 scale-105;
    }

    .banner-content .banner-title{
        @apply mb-3 font-koara-bold text-white text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl text-center;
    }

    .banner-content .banner-title img{
        @apply mx-auto w-full max-w-none lg:max-w-[580px] 2xl:max-w-[700px];
    }

    .variant-item{
        @apply flex flex-col justify-end items-center space-y-2 mx-auto py-2 w-[16rem] md:w-48 3xl:w-56 h-full font-semibold text-white text-lg 2xl:text-xl;
    }
    .variant-item .variant-img{
        @apply w-[5rem] xs:w-[9rem] sm:w-[6.25rem] md:w-14 lg:w-16 2xl:w-32 3xl:w-44 xl:w-20 h-auto;
    }

    .variant-title{
        @apply font-gotham-black text-lg text-center;
    }

    .section .article-content{
        @apply flex flex-col justify-between items-center h-full;
    }

    .article-box{
        @apply w-[40%] md:w-[310px] 2xl:w-[370px] 3xl:w-[460px];

    }
    .splide__slide .article-box{
        @apply w-full;
    }

    .splide__slide .article-image-wrapper .article-image{
        @apply w-full h-48;
    }

    .article-box:hover .article-image-wrapper{
        @apply shadow-xl border-[12px] -rotate-2;
    }

    .article-image-wrapper{
        @apply shadow-md mb-3 border-[12px] transition-all duration-300 transform;
    }

    .article-image-wrapper .article-image{
        @apply w-full h-20 md:h-48 2xl:h-56 3xl:h-72 object-center object-cover;
    }

    .page-nav-item{
        @apply bg-milklife-blue rounded-full w-5 h-5 transition-all duration-700 ease-in-out;
    }
    .page-nav-item.active{
        @apply bg-milklife-blue-darken;
    }

    .page-title{
        @apply mt-12 md:mt-0 font-koara-bold text-white text-4xl md:text-5xl text-center leading-tight tracking-wider;
    }

    .page-title.page-title-lg{
        @apply text-3xl md:text-6xl lg:text-7xl;
    }

    .about-section.page .about-content, .explore-section.page .explore-content, .variant-section.page .variant-content, .explore-section.page .explore-content{
        @apply mx-auto 2xl:max-w-[90rem] max-w-5xl xl:max-w-7xl;
    }

    .variant-section.page .variant-content{
        @apply mx-auto 2xl:max-w-[90rem] xl:max-w-[70rem] max-w-5xl;
    }

    .explore-section.page{
        @apply h-auto min-h-screen;
    }

    .article-section.page .article-content{
        @apply mx-auto 3xl:max-w-screen-2xl max-w-4xl lg:max-w-5xl 2xl:max-w-7xl;
    }

    .article-section.page{
        @apply bg-repeat-y h-auto min-h-screen overflow-auto;
    }

    .about-title{
        @apply mt-10 md:mt-0 font-gotham-bold text-white text-xl md:text-3xl text-center;
    }

    .about-body .detail .title{
        @apply mb-2 font-koara-bold text-white text-3xl;
    }

    .nav-artikel-wrapper{
        @apply flex justify-center items-center space-x-10 mx-auto max-w-max;
    }


    .nav-artikel-wrapper .nav-artikel{
        @apply block relative mt-4 px-10 py-2 text-white cursor-pointer;
    }
    .nav-artikel-wrapper .nav-artikel.active, .nav-artikel-wrapper .nav-artikel:hover{
        @apply text-white;
    }
    .nav-artikel-wrapper .nav-artikel span{
        @apply block;
    }

    .nav-misc-wrapper{
        @apply flex md:flex-row flex-col justify-center items-center space-x-0 md:space-x-10 space-y-2 md:space-y-0 mx-auto max-w-max;
    }
    .nav-misc-wrapper .nav-misc{
        @apply block relative px-[17px] lg:px-4 py-2 lg:py-4 w-[240px] lg:w-[315px] text-white cursor-pointer;
    }
    .nav-misc-wrapper .nav-misc.active, .nav-misc-wrapper .nav-misc:hover{
        @apply text-white;
    }
    .nav-misc-wrapper .nav-misc span{
        @apply block;
    }

    .article-post-container{
        @apply flex flex-col justify-between items-center gap-y-2 lg:gap-y-8;
    }

    footer .link-icons-wrapper .link-icon-items{
        @apply bg-contain bg-no-repeat bg-center w-10 h-10 hover:scale-110 transition-transform hover:-translate-y-2 duration-300 ease-in-out;
    }

    .product-image.product-image-large{
        @apply w-[100px] lg:w-[65px] 2xl:w-[120px] xl:w-[75px];
    }
    .product-image.product-image-medium{
        @apply w-[88px] lg:w-[53px] 2xl:w-[108px] xl:w-[63px];
    }
    .product-image.product-image-small{
        @apply w-[85px] lg:w-[45px] 2xl:w-[100px] xl:w-[55px];
    }

    .product-show-case{
        @apply relative flex lg:flex-row flex-col justify-around items-center lg:items-start text-white;
    }
    .product-show-case .product-intro{
        @apply w-full lg:w-2/5 mb-4 lg:mb-0;
    }
    .product-show-case .product-excelence{
        @apply w-full lg:w-2/5 text-2xl lg:text-4xl font-koara-bold pl-5 mt-4 lg:mt-0;
    }
    .product-misc{
        @apply flex flex-row justify-between items-start;
    }
    .product-misc .product-misc-content{
        @apply flex-1 pl-7 min-h-[400px];
    }
    .grid-instax{
        @apply relative md:w-[50px] md:h-[50px] transition-all duration-500 delay-200 ease-linear;
    }

    .grid-instax img{
        @apply scale-0 transition-transform duration-500 ease-in-out;
    }

    .section.active .grid-instax{
        @apply w-[140px] md:w-[200px] 2xl:w-[260px] 3xl:w-[300px] h-[140px] md:h-[200px] 2xl:h-[260px] 3xl:h-[300px];
    }
    .section.active .grid-instax img{
        @apply scale-100;
    }

    .explore-rope-image{
        @apply top-12 2xl:top-16 3xl:top-32 relative inset-x-0 2xl:mb-40 xl:mb-20;
    }
    .explore-rope-image .img-thumbnail{
        @apply shadow-xl border-[12px] border-white w-[164px] 2xl:w-48 3xl:w-[220px] h-[164px] 2xl:h-48 3xl:h-[220px];
    }

    .shop-link{
        @apply bg-slate-200 md:bg-white hover:shadow-2xl p-2 rounded-lg transition-all hover:-translate-y-2 ease-in-out transform;
    }

    .about-textbox{
        @apply hidden lg:block absolute text-center;
    }

    .article-text{
        @apply font-gotham-light text-white 2xl:text-lg text-left;
    }

    .article-text strong, .article-text b{
        @apply font-gotham-black;
    }

    .article-text p{
        @apply font-gotham-light;
    }

}
